*{
	margin: 0;
	padding: 0;
}
html, body{
	width: 100%;
	height: 1400px;
	margin: 0;
	padding: 0;
	min-width: 960px;
	background-color: #ccc;
}
#Re{
	width: 960px;
	height: 1280px;
	margin: 0 auto;
	position: relative;
	top: 60px;
	bottom: 60px;
	background-color: #eee;
	border: 2px solid #99F3EC;
	border-radius: 20px;
	font-size: 48px;
	line-height: 1280px;
	text-align: center;
}